/SAT/OBJ/*.axf
/SAT/OBJ/*.htm
/SAT/OBJ/*.hex
/SAT/OBJ/*.lnp
/SAT/OBJ/*.sct
/SAT/OBJ/*.dep
/SAT/OBJ/*.crf
/SAT/OBJ/*.d
/SAT/OBJ/*.o
/SAT/USER/DebugConfig/*.dbgconf
/SAT/USER/*.map
/SAT/USER/*.lubo1
/SAT/USER/*.uvoptx
/SAT/USER/*.lst
/TBOX.si4project/Backup/*.c
/TBOX.si4project/Backup/*.h
/TBOX.si4project/*.SearchResults
/TBOX.si4project/*.xml
/TBOX.si4project/*.sip_sym
/TBOX.si4project/*.sip_xab
/TBOX.si4project/*.sip_xad
/TBOX.si4project/*.sip_xc
/TBOX.si4project/*.sip_xf
/TBOX.si4project/*.sip_xm
/TBOX.si4project/*.sip_xr
/TBOX.si4project/*.sip_xsb
/TBOX.si4project/*.sip_xsd
/TBOX.si4project/*.siproj
/TBOX.si4project/*.siwork
/TBOX.si4project/cache/parse/*.sisc
